doctype html
html
    head
        title Website
        style
            include ../static/StyleSheet/StyleIndex.css

    body 
        nav 
            ul.container 
                li #[a(href = "/") Home]
                li #[a(href = "Details") Details]
        div.per
            h1 Rachit Chaudhary 
            div Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore neque fugiat error nobis ad quis quam iste ut, sapiente consequuntur fugit architecto molestias veniam. Beatae, doloribus dignissimos. Nesciunt, quo laboriosam!            

        footer#footer
            p Copyright © 2019 Rachit Portfolio Website | All Rights Reserved